/* ..... scetion of the course details */

@font-face {
    src: url('../../font/fonts-najla/roboto-condensed/RobotoCondensed-Bold.ttf');
    font-family: roboto-bold;
}

@font-face {
    src: url('../../font/fonts-najla/roboto-condensed/RobotoCondensed-Regular.ttf');
    font-family: roboto-regular;
}

.box-gen {
    box-shadow: -1px 2px 11px 3px rgba(209, 205, 209, 1);
}

p,
h3 {
    font-style: italic;
    padding: 10px;
    /* font-weight: bold; */
}

.info h3 {
    text-align: center;
    padding: 10px;
    height: 60px;
    background: #010507;
    border-radius: 87px 87px 87px 87px;
    color: white;
}

#accordion h4 {
    color: black;
    height: 40px;
    padding: 10px;
    font-family: roboto-bold;
    font-size: 18px;
    outline: none;
    padding: 10px;
    padding-left: 40px;
    cursor: pointer;
    border: none;
    font-weight: lighter;
    font-weight: bold;
}

.ui-state-active:active {
    background-image: radial-gradient( circle 343px at 46.3% 47.5%, rgba(242, 242, 242, 1) 0%, rgba(241, 241, 241, 1) 72.9%);
}

.ui-state-focus:focus {
    background-image: radial-gradient( circle 343px at 46.3% 47.5%, rgba(242, 242, 242, 1) 0%, rgba(241, 241, 241, 1) 72.9%);
}

.ui-state-hover:hover {
    background-image: linear-gradient( 109.6deg, rgb(214, 215, 216) 11.2%, rgba(244, 248, 252, 1) 91.1%);
}

#accordion .ui-widget-content {
    background: none;
    border: none;
    color: black;
    font-size: 12pt;
    line-height: 16pt;
    padding: 5px;
    font-style: italic;
    font-family: roboto-regular;
}


/*  ....Modal in Ui development */

@media screen and (min-width: 768px) {
    .modal-dialog-php {
        width: 1000px;
        /* New width for default modal */
    }
    .modal-sm {
        width: 500px;
        /* New width for small modal */
    }
}

@media screen and (min-width: 992px) {
    .modal-lg {
        width: 1950px;
        /* New width for large modal */
    }
}


/*    ...... Start Video course Section */

div.desktop-wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}

div.desktop-wrapper iframe {
    box-sizing: border-box;
    background: url('../../img/img-najla/10-2-monitor-png-picture.png') center center no-repeat;
    background-size: contain;
    padding: 5.4% 8.1% 16.5%;
    /* 11.9% 15.5% 14.8% */
    position: absolute;
    align-content: center;
    top: 0;
    left: 90px;
    width: 80%;
    height: 80%;
}


/* .........End Video course Section...... */


/* .....Start Our Trainers */

.info {
    background-color: #811616 !important;
}

.back-img {
    background-image: url('../../img/img-najla/gray-and-white-color-geometric.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}


/* .....End Our Trainers */


/* ....Start Enroll Button */

.enroll-button {
    font-family: roboto-bold;
    font-size: 20px;
    font-style: italic;
}

.enroll-button ul {
    padding: 0;
    list-style-type: none;
}

.enroll-button ul li {
    font-size: 25px;
    width: 8em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-family: sans-serif;
    text-transform: capitalize;
    position: relative;
    transition: 0.5s;
    margin: 0.8em;
}

.enroll-button ul li::before,
.enroll-button ul li::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: #811616;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

.enroll-button ul li::before {
    left: 0;
    z-index: -1;
}

.enroll-button ul li::after {
    right: 0;
    z-index: -2;
}

.enroll-button ul li:hover {
    color: white;
}

.enroll-button ul li:hover::before,
.enroll-button ul li:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #811616;
}

.enroll-button ul li:hover::before {
    top: 0;
}

.enroll-button ul li:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
}

.enroll-button ul li a {
    color: black;
    text-decoration: none;
    /* border: dashed 5px #811616; */
}

.enroll-button ul li:hover a {
    color: whitesmoke;
    text-decoration: none;
}


/* ......End Enroll Button.... */


/* ....Start Enrollment Details ... */

.enroll-det {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.enroll-det .card {
    position: relative;
    cursor: pointer;
    width: auto;
}

.enroll-det .card .face {
    width: 260px;
    /* height: auto; */
    height: 205px;
    transition: 0.5s;
}

.enroll-det .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.enroll-det .card:hover .face.face1 {
    background: #811616;
    transform: translateY(0);
}

.enroll-det .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.enroll-det .card:hover .face.face1 .content {
    opacity: 1;
}

.enroll-det .card .face.face1 .content img {
    max-width: 200px;
}

.enroll-det .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    background: none;
}

.enroll-det .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    border-bottom: solid 5px #333;
}

.enroll-det .card:hover .face.face2 {
    transform: translateY(0);
    border-bottom: solid 5px #811616;
}

.enroll-det .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.enroll-det .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.enroll-det .card .face.face2 .content a:hover {
    background: #811616;
    color: #fff;
    border: none;
}


/* ......End Enrollmet Details..... */


/* ....Formatting of word Comments/our trainers/about course.... */

.section-title .title {
    position: relative;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 40px;
    color: rgb(32, 31, 31);
    overflow: hidden;
}


/* @font-face {
    src: url('../Documentations/1001fonts/dancing-script/DancingScript-Bold.ttf');
    font-family: m-script;
}

.com-formatting {
    font-size: 40px;
    font-family: m-script;
    font-style: italic;
    font-weight: bolder;
}

sup {
    vertical-align: super;
    font-size: 15;
} */


/* ....Carsouel Comments */

.containers {
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-comment {
    border-radius: 50%;
    width: 30%;
}


.background-img {
    background-image: url("https://3.bp.blogspot.com/-piZWCW2uUbg/W2fPXxkWZgI/AAAAAAAAOu0/eydmMjTIqcwLMHEEr2H7imqoRTxMw4o9QCLcBGAs/s1600/among_trees_night_dribbble.png");
    height: 400px;
    width: 100;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative;
}

.content h2 {
    font-size: 19px;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 350px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    pointer-events: none;
}

.box:hover:before {
    left: -50%;
    transform: skewX(-5deg);
}

.box .content {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px solid #f0a591;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.box span:nth-child(1) {
    transform: rotate(0deg);
}

.box span:nth-child(2) {
    transform: rotate(90deg);
}

.box span:nth-child(3) {
    transform: rotate(180deg);
}

.box span:nth-child(4) {
    transform: rotate(270deg);
}

.box span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}